<main>
    <aside>
        <h3>Let's learn</h3>
        <ul class="sidebar">
            <li routerLink="/introduction" routerLinkActive="active">Introduction</li>
            <li routerLink="/createProject">Let's build a project</li>
        </ul>
    </aside>
    <div class="content">
        <section id="introduction">
            <h2>What is Angular?</h2>
            <p>Angular is a platform and framework for building single-page client applications using HTML and
                TypeScript. It implements core and optional functionality as a set of TypeScript libraries that you
                import into your applications.</p>
            <h2>Angular CLI:</h2>
            <p>Angular CLI is a command-line interface (CLI) for Angular. Angular CLI is a
                powerful tool that greatly simplifies the process of developing, testing, and deploying Angular
                applications. It is designed to streamline the development workflow for Angular projects. It
                automates many common tasks, enforces best practices, and helps maintain consistency across
                projects.</p>

            <h2>Angular CLI, node.js and npm: </h2>
            <p>Understanding the relationship between Angular CLI, Node.js, and npm is crucial for Angular
                development. </p>
            <ol>
                <li>Node.js Dependency:
                    <ul>
                        <li>JavaScript Runtime:</li>
                        Angular CLI is built on <a href="https://nodejs.org/en">Node.js</a>, which provides
                        a JavaScript runtime environment outside
                        the
                        browser.
                        This allows Angular CLI to execute JavaScript code on your machine for tasks like project
                        scaffolding, building, and serving.
                    </ul>

                <li>npm:</li>
                <ul>
                    <li>npm is used to manage dependencies for your Angular project. It downloads and installs all
                        the necessary libraries and tools that Angular needs.
                    </li>
                    <li>Global installation of npm packages:
                        <pre class="code-block">npm install -g &#64;angular/cli</pre>
                    </li>
                </ul>
            </ol>
        </section>
    </div>

</main>
<footer>
    <p>&copy; 2024 Learn Angular for Free. All rights reserved.</p>
</footer>