<header>
    <h1> Angular</h1>
</header>
<main>
    <aside>
        <h3>Let's learn</h3>
        <ul class="sidebar">
            <li routerLink="/introduction">Introduction</li>
            <li routerLink="/createProject">Let's build a project</li>
            <li routerLink="/module">Module Introduction</li>
        </ul>
    </aside>
    <div class="content">
        <section id="introduction">
            <h2>Welcome to Angular!</h2>
            <p>We are thrilled to have you here. Get ready for a fun and exciting journey into the world of Angular, and
                the best part? This course is completely free!.</p>

            <p>Why should you learn Angular? Angular is a powerful framework for building dynamic and responsive web
                applications. It’s widely used in the industry, which makes it a valuable skill for any developer. With
                Angular, you can create efficient, scalable, and maintainable applications, making you a sought-after
                professional in the job market.</p>

            <h2>Here you'll learn:</h2>
            <p>Angular Components, Directives, Services and Dependency Injection, Pipes and many more interesting
                things. </p>

            <p>Thank you for visiting our webpage. We wish you the best of luck on your Angular learning journey! Happy
                coding!</p>
        </section>

    </div>

</main>
<footer>
    <p>&copy; 2024 Learn Angular for Free. All rights reserved.</p>
</footer>