img {
  max-width: 100%;
  height: auto;
}
button {
  background: linear-gradient(45deg, #14395e, #312c7c, #5ca0d3, #c941bd);
  color: white;
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-end;
}
