/* You can add global styles to this file, and also import other style files */

header {
  background: linear-gradient(45deg, #14395e, #312c7c, #5ca0d3, #c941bd);
  color: white;
  text-align: center;
  padding: 1rem;
  margin-bottom: 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav {
  background-color: #f4f4f4;
  padding: 1rem;
  margin-bottom: 2rem;
}
nav ul {
  list-style-type: none;
  padding: 0;
}
nav ul li {
  display: inline;
  margin-right: 10px;
}
nav ul li a {
  text-decoration: none;
  color: #333;
}
main {
  display: grid;
  grid-template-columns: 3fr 7fr;
  gap: 2rem;
}
.content {
  background-color: white;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
aside {
  background-color: #f9f9f9;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}

.code-block {
  background-color: #f4f4f4;
  border-left: 4px solid #1976d2;
  color: #333;
  font-family: "Courier New", Courier, monospace;
  padding: 1rem;
  margin: 1rem 0;
  overflow-x: auto;
  font-size: 1rem;
  line-height: 1.4;
}

main {
  font-family: "Roboto Mono";
  line-height: 1.6;
  color: #333;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.sidebar {
  list-style-type: none; /* Remove bullet points */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
  width: 200px; /* Set a fixed width */
  background-color: #f8f8f8; /* Set a background color */
}
.sidebar li {
  padding: 8px 10px; /* Add padding */
  cursor: pointer; /* Change cursor to pointer */
  transition: background-color 0.3s; /* Smooth transition for background color */
}

.sidebar li:hover {
  background-color: #e0e0e0; /* Light grey color on hover */
}

.sidebar li:active {
  background-color: #d0d0d0; /* Slightly darker grey when clicked */
}

.sidebar li[routerLinkActive] {
  background-color: #e0e0e0; /* Light grey color when active */
}
.sidebar .active {
  background-color: #ddb5b5; /* Light grey color for the active route */
  font-weight: bold; /* Make the text bold */
  color: #b61919; /* Change the text color */
}
