<main>
    <aside>
        <h3>Let's learn</h3>
        <ul class="sidebar">
            <li routerLink="/introduction">Introduction</li>
            <li routerLink="/createProject" routerLinkActive="active">Let's build a project</li>
        </ul>
    </aside>
    <div>
        <h1>Creating your first Angular project:</h1>
        <section id="basics">
            <h3>Prerequisites:</h3>
            <ol>
                <li>Install Node.js and npm</li>
                <ul>
                    <li>Download and Install <a href="https://nodejs.org/en">Node.js</a></li>
                    <li>Verify installations by:
                        <pre class="code-block">node --version</pre>
                        <pre class="code-block">npm --version</pre>
                    </li>
                </ul>
                <li>Install Angular CLI</li>
                <ul>
                    <li>Open a command prompt or temminal in your project directory</li>
                    <li>Run the following command:
                        <pre class="code-block">npm install -g &#64;angular/cli</pre>
                    </li>
                    <li>Verify installation:
                        <pre class="code-block">ng --version</pre>
                    </li>
                </ul>
            </ol>
            <h3>Steps to Create new Angular Project:</h3>
            <ol>
                <li>Open terminal or command prompt</li>
                <ul>
                    <li>Navigate to the directory where you want to create your project</li>
                </ul>
                <li>Create a new project</li>
                <ul>
                    <li>Run the following command:
                        <pre class="code-block">ng new my-app</pre>
                    </li>
                    <li>Replace "my-app" with the name of your project</li>
                </ul>
                <li>Answer the following Configuration Questions</li>
                <ul>
                    <li>Would you like to add Angular routing?(y/n)</li>
                    <ul>
                        <li>Choose 'y' if you would like to add Angular routing</li>
                    </ul>
                    <li>Which stylesheet format would you like to use?
                        <ul>
                            <li>Choose from CSS, SCSS or LESS(Defualt is CSS)</li>
                        </ul>
                    </li>
                </ul>
                <li>Wait for the project to build
                    <ul>
                        <li>Angular CLI will install required dependencies</li>
                    </ul>
                </li>
                <li>Navigate to your project directory
                    <pre class="code-block">cd my-app</pre>
                </li>
                <li>Serve the project
                    <ul>
                        <li>Run your project:
                            <pre class="code-block">ng serve</pre>
                        </li>
                        <li>Follow the link</li>
                    </ul>
                </li>

            </ol>
        </section>
    </div>
</main>